<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GROOVY</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/components/gridism/gridism.css">
  <link rel="stylesheet" href="/css/stylesheet.css" media="screen" charset="utf-8"/>
</head>
<body>
  <div class="page">
   <div class="grid preview-section">
      <div class="unit whole align-center">
        <h2>Hello STLJUG!</h2>
      </div>
      <div class="unit one-half">
        <p> This is an app built using Groovy. It's on the JVM.</p>
        <small>I don't normally code Java, sorry!</small>
    </div>
  </div>
</body>
</html>
